
/* 
##########################################################
    Fonts
##########################################################
font-family: "Inter", sans-serif;
font-family: "Libre Caslon Display", serif; 
*/

/* 
##########################################################
    Site Wide CSS
##########################################################

*/
body {
    background-color: #FFFFFF;
    /* default for all text apart from headings */
    font-family: "Inter", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    /* default for all other text */
    font-family: "Libre Caslon Display", serif; 
}

/* 
##########################################################
    Media Queries
##########################################################

*/
