/* 
TODO: Space out the navigation in desktop view
Organise the hero text content below the header
create the blog section
create a title
created a card div x3
put the card divs into a flexbox wrapper
have the cards compress wiht space around along columns for mob and rows for tablet and above

*/



/* 
##########################################################
    Fonts
##########################################################
font-family: "Inter", sans-serif;
font-family: "Libre Caslon Display", serif; 
*/

/* 
##########################################################
    Colour Swatch
##########################################################

Background - white #FFFFFF;
Font Color - black #000000;
Read More Link - hex (shade of orange): #D9852C;
Blog Date - hex (shade of grey) #B7B7B7;

*/



/* 
##########################################################
CSS STYLING 
##########################################################
*/

/* DEFAULT STYLES FOR ALL DEVICES */
body {
    background-color: #FFFFFF;
    /* default for all text apart from headings */
    font-family: "Inter", sans-serif;
    font-size: 16px;
    padding: 0px;
    margin:0px;
    color: #000000;
}

.button-link {
    color: #FFFFFF;
    text-decoration: none;
    border-width: 2px;
    border-color: #FFFFFF;
    border-style:solid;
    background-color: transparent;
    cursor: pointer;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 10px;
}

.button-link:hover {
    color: #000000;
    text-decoration: none;
    background-color: #FFFFFF;
    border-color: #000000;

}


/* HERO STYLING */
.hero {
    height: 1024px;
    background-image: url("images/Background.png");
}

    /* NAVIGATION LAYOUT */
    .navigation-header-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }


    /* NAVIGATION HEADER CSS STYLE */
        /* Wrapper for Navigation Header */
        .navigation-header-wrapper h1 {
            font-weight: 900;
            text-transform: uppercase;
            flex-grow: 1;
            margin: 32px;
            padding: 0;
        }

        /* Nav Heading - Website Heading */

        .navigation-header-wrapper h1 a{
            text-decoration: none;
            color: #FFFFFF;
            font-size: 1.875rem;
        }

        /* NAVIGATION */
        
        /* Burger Icon */
        #burger-menu {
             margin-right: 40px;
             margin-left: auto;
             flex-grow:0;
             cursor: pointer;
        }

        /* Hide navigation links in mobile view */
        nav {
            display: None;
        }

                /* SHOW FULL NAV */
                /* 
            
                NEED TO SPACE OUT THE NAVIGATION HERE  IN DESKTOP VIEW
            
                 */
                /* Medium devices (tablets/laptops) */
                @media screen and (min-width: 768px)  {
                    #burger-menu {
                        display: None;
                 
                    }
                    nav {
                        display: block;
                        flex-grow:0;
                        margin-left: auto;
                    }

                    nav a { 
                        font-weight: 500px;
                        text-decoration: none;
                        color: #FFFFFF;
                    }

                    nav a:hover { 
                        text-decoration: underline;
                    }

                }

        .burger-line{
            padding:0px;
            border: 1px;
            border-radius: 25px;
            height: 4px;
            width: 35px;
            background-color: #FFFFFF;
            margin: 4px;
        }

        
        /* END NAV STYLING */

        
        
    /* ********************************** */


     /* HERO DETAILS CSS STYLE */
        
     .hero-details-wrapper {
        margin-left: 32px;
        margin-right: 32px;
     }

            /*  Other devices (tablets) */
            @media screen and (min-width: 576px) and (max-width: 768px) {
                .hero-details-wrapper {
                    margin-left: 72px;
                    margin-right: 72px;
                }
        }

        /* Medium devices (tablets/laptops) */
        @media screen and (min-width: 768px) and (max-width: 992px) {
            .hero-details-wrapper {
                margin-left: 72px;
                margin-right: 400px;
            }

        }

        /* Large devices (laptops/desktops) */
        @media screen and (min-width: 992px) and (max-width: 1200px) {

            .hero-details-wrapper {
                margin-left: 72px;
                margin-right: 620px;
            }
        }


        #hero-tag-rectangle-decoration {
            width: 90px;
            height: 15px;
            background-color: #FFFFFF;
        
        }
        .hero-tag {
            font-family: "Libre Caslon Display", serif;
            font-weight: 400;
            font-size: 3.125rem;
            color: #FFFFFF;
        }

        .hero-text {
            font-weight: 500;
            font-size: 1.125rem;
            color: #FFFFFF;
        }

                /* Small devices (mobile/tablets) */
                @media screen and (min-width: 576px) and (max-width: 768px) {
                    .hero-tag {
                        font-size: 3.125rem;
                    }
                }


                /* Medium devices (tablets/laptops) */
                @media screen and (min-width: 768px) and (max-width: 992px) {
                    hero-tag {
                        font-size: 4.375rem;
                    }

                }

                /* Large devices (laptops/desktops) */
                @media screen and (min-width: 992px) and (max-width: 1200px) {
                    hero-tag {
                        font-size: 4.375rem;
                    }


                }

                /* Extra large devices (large desktops) */
                @media screen and (min-width: 1200px) {
                    .hero-tag {
                        font-size: 5rem;
                    }

                }

    
    /* END HERO STYLING */

/* 
##########################################################
##########################################################
##########################################################
##########################################################
##########################################################

##########################################################
*/
/* TESTING PURPOSES */
        /* Small devices (mobile/tablets) */
        @media screen and (min-width: 576px) and (max-width: 768px) {
            /* TESTING PURPOSES */ 
            body {
                background-color: yellow;
            }

        }

        /* Medium devices (tablets/laptops) */
        @media screen and (min-width: 768px) and (max-width: 992px) {
            /* TESTING PURPOSES */ 
            body {
                background-color: blue;
            }
        }
        
        /* Large devices (laptops/desktops) */
        @media screen and (min-width: 992px) and (max-width: 1200px) {
            /* TESTING PURPOSES */ 
            body {
                background-color: green;
            }
        }
        
        /* Extra large devices (large desktops) */
        @media screen and (min-width: 1200px) {
            /* TESTING PURPOSES */ 
            body {
                background-color: red;
            }
        }

        