
/* 
##########################################################
    Fonts
##########################################################
font-family: "Inter", sans-serif;
font-family: "Libre Caslon Display", serif; 
*/

/* 
##########################################################
    Site Wide CSS
##########################################################

*/
body {
    background-color: #FFFFFF;
    /* default for all text apart from headings */
    font-family: "Inter", sans-serif;
}



/* 
##########################################################
    Mobile View
##########################################################

*/
@media screen and (max-width: 576) {
    body {
        background-color: green;
    }
  }